 <% layout('layout/boilerplate') -%>
<body>
 
 
  <div>
   <div class="top-index mt-4">
  <div id="filters">
    <div class="filters">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filters">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filters">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic City</p>
    </div>
    <div class="filters">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filters">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filters">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>
    <div class="filters">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filters">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farm</p>
    </div>
    <div class="filters">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
    </div>
    


    <div class="d-flex  ">
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch ">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label " for="switchCheckDefault">Display Taxes</label>
        </div>
      </div>

      <form method="get" action="/listing/new">
        <button class="btn btncol">Add New</button>
      </form>
    </div>
  </div>
</div>

    <!-- //cards -->
     <div class="row  ">
 <% for(let listing of allListings)  { %>
    
<div class="col-lg-4 col-md-6 col-sm-12 text-center my-1">
    <a href="/listings/<%= listing._id  %>" class="listing_a" >
    <div class="card " style="width: auto;">
  <img src="<%= listing.image  %>" class="card-img-top" alt="listing_image">
  <div class="card-img-overlay">
</div>
  <div class="card-body">
     <h5 class="card-title"><%= listing.title  %></h5>

    <p class="card-text"><i class="fa-solid fa-indian-rupee-sign"> </i> <%= listing.price.toLocaleString('en-IN') %>
      <i class="tax-info"> &nbsp;+ 18% gst = <%= listing.price *0.18 +listing.price  %></i>
    <br/> <%= listing.description  %></p>
    
  </div>
</div></a>
</div>

 <% } %>
     </div>
    
    <script>
      let taxSwitch=document.getElementById('switchCheckDefault');
      taxSwitch.addEventListener('click',()=>{
        let taxInfo=document.getElementsByClassName('tax-info');
        for( let info of taxInfo){
          if(info.style.display!=='inline'){
          info.style.display='inline';
          }
          else{ info.style.display='none';

          }
        }

      })
    </script>
</body>
